@import "../index.scss";

.home {
  height: 100%;
  display: flex;

  .home-static {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background: $background;

    .home-static-body {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .home-presentation {
        width: 100%;
        padding: 50px;

        .home-intro {
          width: 100px;
          float: left;
          font-size: 40pt;
          font-weight: bolder;
          font-family: "Arial Black", fantasy;
          color: #30404d;
        }

        .avatar {
          float: right;
          border-radius: 50%;
          width: 300px;
        }

      }

      .social-media {
        width: 30px;
        margin-right: 100px;
      }
    }

    .pt-navbar {
      background: none;
      box-shadow: none;
    }
  }

  .home-body {
    flex: 3 0 auto;
    background: antiquewhite;
  }
}