@import "~@blueprintjs/core/lib/css/blueprint.css";

$background: #fafafa;
$light-blue: #a8d0e6;
$cs-grey: #e0e1e3;
$cs-blue: #ace3d0;
$cs-blue2: #6dc3c0;
$cs-blue3: #36978e;
$cs-brown: #89847e;
$cs-cream: #e7dbc3;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $cs-grey;
}

body.noScroll {
  overflow: hidden;
}
